<%= form_with(model: artist, local: true, class: "ui form") do |f| %>
  <div class="field">
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  </div>
  <br />
 <div class="field">
  <%= f.label :avatar %>
  <%= f.text_field :avatar %>
  </div>
  <br />  
  <%= f.submit nil, class: "ui button" %>
  <br />
<% end %>