<h1 class="ui header">Artists</h1>
<br />
<%= link_to "New Artist", new_artist_path %>
<div class="ui divider"></div>

<div class="ui grid">
  <% @artists.each do |artist| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card">
        <div class="image">
          <img src="https://robohash.org/<%= artist.avatar %>?set=set4" />
        </div>
        <div class="content">
          <%= link_to "#{artist.name}", artist, class: "header" %>
        </div>
        <div class="extra content">
          <div class="ui three buttons">
            <div class="ui basic blue button">
              <%= link_to 'Show', artist_path(artist) %>
            </div>
            <div class="ui basic blue button">
              <%= link_to 'Edit', edit_artist_path(artist) %>
            </div>
            <div class="ui basic red button">
              <%= link_to 'Destroy', artist_path(artist), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>