<div class="ui card">
  <div class="image">
    <img src="https://robohash.org/<%= @artist.avatar %>? set=set4" />
  </div>
  <div class="content">
    <p class="header">
      <%= @artist.name %>
    </p>
  </div>
  <div class="extra content">
    <%= link_to 'View Songs', artist_songs_path(@artist) %> |
    <br />
    <%= link_to 'Edit Artist', edit_artist_path(@artist) %> |
    <br />
    <%= link_to 'Back', artists_path %>  |
    <br />
    <%= link_to 'Delete Artist', @artist, method: :delete %>
  </div>
</div>