<h1><%= @song.id ? 'Edit Song Title' : 'Add Song Title' %></h1>
<hr />
<%= form_with(model: [@artist, @song], local: true, class: "ui form") do |f| %>
  <%= f.label :song_name %>
  <%= f.text_field :song_name, required: true, autofocus: true %>
  <br />
  <br />
  <%= f.submit nil, class: "ui button" %>
<% end %>