<h1><%= @artist.name %></h1>
<h4>Song Title: <%= @song.song_name %></h4>
<br />
<%= link_to 'Edit Song', edit_artist_song_path([@artist, @song]) %>
<br />
<%= link_to 'Delete Song', [@artist, @song], method: :delete %>
<br />
<%= link_to 'Back To Songs', artist_songs_path(@artist) %>